APP_ENV=development

# Server hostato sul pc
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Endpoint ollama hostato 
OLLAMA_BASE_URL=http://<OLLAMA_HOST>:11434
OLLAMA_MODEL=<OLLAMA_MODEL_NAME>

# Livello di loggatura
LOG_LEVEL=INFO

# Percorso contenente i documenti (base di conoscenza)
KNOWLEDGE_BASE_PATH=data/knowledge_base
